.cardBox {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px, rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
  display: grid;
  height: 320px;
  margin: 20px;
  overflow: hidden;
  place-items: center;
  position: relative;
  width: 270px;
}

.card {
  align-items: center;
  background: #000814;
  border-radius: 20px;
  color: #8e65ff;
  cursor: pointer;
  display: flex;
  filter: saturate(100%);
  flex-direction: column;
  height: 99%;
  justify-content: center;
  overflow: hidden;
  padding: 15px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 5;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
}

.card h3,
.textCard {
  font-size: 3rem;
  font-weight: 800;
  left: 50%;
  opacity: 50%;
  pointer-events: none;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
}

.textCard {
  top: 50%;
}

.card .contentCard h3 {
  font-size: 3rem;
  padding-bottom: 10px;
}

.card .contentCard p {
  font-size: 1.6rem;
  line-height: 25px;
}

.card .contentCard {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.3s ease-in-out;
}

.card:hover .contentCard {
  opacity: 1;
  transform: translateY(0);
}

.text-title {
  font-size: 20px;
}

.project-image {
  z-index: 3;
}

@keyframes glowing {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 660px) {
  .cardBox {
    height: 180px;
    width: 120px;
  }

  .card {
    margin: 0px;
    padding: 0px;
  }
}
