.projects-main {
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  width: 90%;
}

.projects-main h1 {
  color: var(--corTexto1);
  background-image: linear-gradient(145deg, rgb(98, 0, 255), rgb(204, 0, 255), rgb(253, 60, 173), rgb(199, 140, 204));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
  margin-bottom: 50px;
}

.projects-board {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 85%;
}

.project-div {
  align-items: flex-start;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 20px rgba(204, 0, 255, 0.288);
  border-radius: 10px;
  display: flex;
  height: 320px;
  justify-content: center;
  margin: 20px;
  width: 320px;
  position: relative;
  opacity: 45%;
}

.project-div:hover {
  opacity: 100%;
}

.project-name {
  text-align: center;
  background-color: rgba(128, 0, 128, 0.219);
  border-radius: 10px;
  color: rgb(115, 255, 0);
  font-size: 30px;
  position: absolute;
  text-transform: uppercase;
  width: 100%;
}

.project-img {
  background-color: black;
  box-shadow: 0px 0px 20px rgba(204, 0, 255, 0.288);
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 440px) {
  .project-div {
    opacity: 90%;
  }
}