.projects-main {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin: 80px auto;
  width: 100%;
}

.projects-main h1 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: var(--corTexto1);
  font-family: 'Roboto', sans-serif;
  font-size: clamp(40px, 5vw, 75px);
  font-weight: 100;
  margin-bottom: 50px;

  background-image: linear-gradient(145deg, rgb(98, 0, 255), rgb(204, 0, 255), rgb(253, 60, 173), rgb(199, 140, 204));
}

.projects-subtitle {
  color: gray;
  font-size: 18px;
}

.projects-board {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 80%;
}

.project-div:hover {
  opacity: 100%;
}

.project-img {
  background-color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(204, 0, 255, 0.288);
  height: 150px;
  width: 100%;
}

@media (max-width: 740px) {
  .projects-board {
    width: 100%;
  }

  .project-img {
    height: 100px;
  }

  .projects-subtitle {
    text-align: center;
    padding: 20px;
    color: gray;
    font-size: 18px;
  }
}
