.social-links,
.flex-center {
  align-items: center;
  display: flex;
  justify-content: start;
  width: 150px;
}

.social-btn {
  -webkit-background-clip: content-box;
  background-clip: content-box;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.301);
  color: #ffffff;
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;
  height: 40px;
  margin: 5px;
  transition: 0.3s;
  width: 40px;

  background-image: linear-gradient(
    145deg,
    rgba(98, 0, 255, 0.2),
    rgba(204, 0, 255, 0.2),
    rgba(253, 60, 173, 0.2),
    rgba(199, 140, 204, 0.2)
  );
}

.social-btn img {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  width: 45px;
}

.github {
  background-color: white;
}

.social-btn span {
  overflow: hidden;
  text-align: center;
  transition: 0.3s;
}

.social-btn:hover {
  -webkit-background-clip: content-box;
  background-clip: content-box;
  background-color: black;
  border-radius: 10px;
  width: 150px;
  height: 40px;

  background-image: linear-gradient(
    145deg,
    rgba(98, 0, 255, 0.7),
    rgba(204, 0, 255, 0.7),
    rgba(253, 60, 173, 0.7),
    rgba(199, 140, 204, 0.7)
  );
}

.social-btn:hover span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 450px) {
  .social-links {
    width: 150px;
  }
  .social-btn {
    height: 35px;
    width: 35px;
  }
  .social-btn:hover {
    height: 35px;
    width: 35px;
  }

  .social-btn:hover span {
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 0px;
  }
}
