.about-main-text-div {
  height: calc(var(--p-height) * 3 + 80px);
}

.about-main-text-div div {
  margin-bottom: 20px;
}

.about-main-p {
  color: antiquewhite;
  display: flex;
  display: flex;
  flex-flow: column;
  font-size: 15px;
  justify-content: space-evenly;
  justify-content: space-evenly;
  text-align: justify;
}

@media (max-width: 729px) {
  .about-main-text-div {
    height: calc(var(--p-height) * 4 + 30px);
  }

  .about-main-text-div p {
    font-size: 2.5vw;
    height: 130px;
  }
}

@media (max-width: 680px) {
  .about-main-text-div {
    height: calc(var(--p-height) * 5 + 30px);
  }
  .about-main-text-div p {
    font-size: 2.8vw;
    height: 150px;
  }
}

@media (max-width: 550px) {
  .about-main-text-div {
    height: calc(var(--p-height) * 4 + 30px);
  }

  .about-main-text-div p {
    font-size: 2.8vw;
    height: 120px;
  }

  @media (max-width: 500px) {
    .about-main-text-div {
      height: calc(var(--p-height) * 3 + 30px);
    }
    .about-main-text-div p {
      font-size: 2.8vw;
      height: 110px;
    }
  }

  @media (max-width: 415px) {
    .about-main-p {
      align-content: stretch;
      display: flex;
      flex-flow: column;
      height: 250px;
      justify-content: center;
    }
  }
}