#profile {
  align-items: center;
  background-color: var(--corFundo);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin: 155px auto;
  width: 85vw;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
}

#name-profile-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 45%;
}

.img-div {
  height: 455px;
  width: 450px;
}

#imgProfile {
  animation: imgShow 3s;
  border-radius: 100%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.466), 0px 0px 1000px 20px #a200ff7a;
  width: 450px;
}

#name {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: titleShowLeft 3s;
  background-clip: text;
  background-image: linear-gradient(145deg, rgb(98, 0, 255), rgb(204, 0, 255), rgb(253, 60, 173), rgb(199, 140, 204));
  font-size: clamp(15px, 5vw, 75px);
}

#profile span {
  animation: titleShowRight 3s;
  color: var(--contrastColor);
  font-size: clamp(15px, 3.5vw, 70px);
}

#presentation-text {
  animation: titleShowUp 3s;
  color: antiquewhite;
  font-size: clamp(8px, 4vw, 15px);
  margin-top: 20px;
  text-align: justify;
  width: clamp(10vw, 35vw, 30vw);
}

#contents-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  height: 1000px;
  justify-content: space-between;
  margin: 200px auto 0px auto;
  text-align: center;
  width: 50%;
}

#contents-container span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(145deg, rgb(98, 0, 255), rgb(204, 0, 255), rgb(253, 60, 173), rgb(199, 140, 204));
  font-size: clamp(40px, 5vw, 75px);
}

.contents {
  height: max-content;
}

.projects-container {
  width: 100%;
}

.contact-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  margin-bottom: 150px;
  margin-top: 200px;
  width: 100%;
}

@media (max-width: 1150px) {
  .img-div {
    align-items: center;
    display: flex;
    height: 80%;
    justify-content: center;
    margin-top: 0px;
    width: 80%;
  }

  #imgProfile {
    border-radius: 100%;
    box-shadow: 0px 0px 1000px 20px #a200ff7a;
    width: 70%;
  }

  #contents-container {
    width: 60%;
  }
}

@media (max-width: 1010px) {
  #contents-container {
    width: 70%;
  }
}

@media (max-width: 860px) {
  #contents-container {
    width: 80%;
  }
}

@media (max-width: 730px) {
  #profile {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 91vh;
    justify-content: space-evenly;
    margin-top: 0px;
    width: 100%;
  }

  #name-profile-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: clamp(5vh, 45vh, 70vh);
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
  }

  .img-div {
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;
    margin-top: 55px;
    width: fit-content;
  }

  #imgProfile {
    border-radius: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.466), 0px 0px 1000px 20px #a200ff7a;
    width: 75%;
  }

  #profile h1 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(145deg, rgb(98, 0, 255), rgb(204, 0, 255), rgb(253, 60, 173), rgb(199, 140, 204));
    color: var(--corTexto1);
    font-size: 40px;
    width: fit-content;
  }

  #profile span {
    color: var(--contrastColor);
    font-size: 50px;
  }

  #presentation-text {
    color: antiquewhite;
    font-size: clamp(8px, 4vw, 17px);
    margin-top: 20px;
    text-align: justify;
    width: 80%;
  }

  #paragraph-text {
    color: white;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 5px;
    text-align: left;
    width: 220px;
  }

  #contents-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 150px;
    text-align: center;
    width: 90%;
    height: 1300px;
  }
}

@media (max-width: 680px) {
  #contents-container {
    height: 1400px;
  }
}

@media (max-width: 600px) {
  #contents-container {
    height: 1300px;
  }
}

@media (max-width: 550px) {
  #contents-container {
    height: 1200px;
  }
}

@media (max-width: 415px) {
  #contents-container {
    height: 1000px;
  }

  #profile {
    width: 95%;
  }

  .img-div {
    margin-top: 80px;
  }

  #presentation-text {
    color: antiquewhite;
    font-size: clamp(8px, 4vw, 17px);
    margin-top: 20px;
    text-align: justify;
    width: 90%;
  }
}

@keyframes imgShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes titleShowRight {
  0% {
    transform: translate(100px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes titleShowLeft {
  0% {
    transform: translate(-100px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes titleShowUp {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
