#threeLineIcon {
  display: none;
}

.navigation {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: fixed;
  top: 0;

  z-index: 5;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 550px;
}

.navigation li {
  color: rgb(175, 118, 167);
  font-size: 22px;
  list-style: none;
}

.navigation li:hover {
  animation: colorPass 0.12s infinite;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .navigation {
    width: 90%;
  }

  .navigation ul {
    justify-content: space-evenly;
    width: 50%;
  }
}

@media (max-width: 910px) {
  .navigation ul {
    justify-content: space-evenly;
  }
}

@media (max-width: 730px) {
  .navigation {
    align-items: center;
    display: flex;
    height: 50px;
  }

  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navigation li {
    font-size: 18px;
    list-style: none;
    margin: 0 5px;
  }
}

@media (max-width: 540px) {
  .navigation {
    background-color: rgba(107, 0, 128, 0.205);
    height: 50px;
    width: 100%;
  }

  .navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
    align-items: end;
  }

  .navigation li {
    display: none;
  }

  #threeLineIcon {
    align-items: center;
    border-bottom: none;
    display: flex;
    font-size: 35px;
    justify-content: flex-end;
  }

  #threeLineIcon a {
    color: #5af88a;
    text-decoration: none;
  }

  .threeLineIconBtn {
    background-color: rgba(192, 125, 231, 0);
    border: none;
    color: white;
    font-size: 40px;

    z-index: 3;
  }

  .threeLineIconBtn:hover {
    cursor: pointer;
  }
}

@keyframes colorPass {
  0% {
    color: rgb(119, 92, 115);
  }

  100% {
    color: var(--contrastColor);
  }
}
