@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

:root {
    --corTexto1: #d6d6d6;
    --corTexto2: #7c7b72;
    --corFundo: #000000;
    --corNavigation1: #08A2C6;
    --corNavigation2: #F5522C;
    --corNavigation3: #2fc18c;
    --corNavigation4: #41197f;
    --corNavigation5: #272727;
    background-color: black;

    --logo-width: 50px;
    --p-height: 120px;
}

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}
