/* .habilities-main-section {
  height: fit-content;
} */

.habilities-main-text-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* height: calc(var(--p-height) * 2.5 + 30px); */
}

/* .habilities-main-text-div p {
  align-items: center;
  color: antiquewhite;
  display: flex;
  font-size: 15px;
  justify-content: space-evenly;
  text-align: justify;
} */

.hability-main-p {
  color: antiquewhite;
  display: flex;
  font-size: 15px;
  justify-content: space-evenly;
  text-align: justify;
  display: flex;
  flex-flow: column;
}

.all-logo-div {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 15px 0 15px 0;
}

.unix-logo,
.git-logo,
.vs-logo,
.html-logo,
.css-logo,
.js-logo,
.jest-logo,
.react-logo,
.redux-logo,
.slack-logo {
  width: 50px;
  margin: 5px;
}

.github-logo {
  background-color: white;
  border-radius: 100%;
  width: 50px;
}

  @media (max-width: 729px) {
    .all-logo-div {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin: 15px 0 15px 0;
    }

    .habilities-main-text-div {
      height: calc(var(--p-height) * 5 + 30px);
    }

    .habilities-main-text-div p {
      font-size: 2.8vw;
    }
  }

  @media (max-width: 600px) {
    .habilities-main-text-div {
      height: calc(var(--p-height) * 5 - 50px);
    }
  }

  @media (max-width: 500px) {
    .habilities-span-title {
      margin-top: 50px;
    }

    .habilities-main-text-div {
      height: calc(var(--p-height) * 4);
    }

    .all-logo-div {
      width: 70%;
    }

    .unix-logo,
    .git-logo,
    .vs-logo,
    .html-logo,
    .css-logo,
    .js-logo,
    .jest-logo,
    .react-logo,
    .redux-logo,
    .slack-logo {
      width: 30px;
      margin: 5px;
    } 
  }

  @media (max-width: 415px) {
    .habilities-main-text-div {
      /* height: calc(var(--p-height) * 2.3 + 100px); */
      height: fit-content;
      justify-content: space-between;
    }
    .hability-main-p {
      align-content: stretch;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
  }